@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: "Roboto", sans-serif;
    color: #DDD;
}

a {
    color: #DDD;
}

a:hover {
    color: #fff;
}


.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 97%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 95%;
    }
}


.header {
    height: 100vh;
    width: 100%;
    color: #DDD;
    background: #5a5a5a;
    background-image: -webkit-radial-gradient(top, circle cover, #5a5a5a 10%, #222 85%);
    background-image: -moz-radial-gradient(top, circle cover, #5a5a5a 10%, #222 85%);
    background-image: -o-radial-gradient(top, circle cover, #5a5a5a 10%, #222 85%);
    background-image: radial-gradient(top, circle cover, #5a5a5a 10%, #222 85%);
}

/* Navbar and Logo Section */

.tura-navbar {
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 13px 0;
}

.nav-logo {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.navbar-brand {
    margin-left: -15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    text-decoration: none;
    transition: all 0.5s;
}

.navbar-brand span {
    font-size: 24px;
}

.tura-navbar ul {
    float: right;
    margin: 25px 0px;
}

.tura-navbar ul li {
    display: inline-block;
    margin: 2px 6px;
}

.nav li {
    display: inline-block;
}

.tura-navbar ul li a {
    display: block;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0 25px;
    text-decoration: none;
}

/* Intro Section */


.header-content {
    position: relative;
    top: 36%;

}

.my-intro {
    position: absolute;
    left: 32%;
    bottom: -130px;
    pointer-events: none;
}

.my-intro h1 {
    font-size: 9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 5px 5px 60px #303030;
}

.my-intro h6.first {
    color: #919191;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-size: 14px;
    margin-bottom: 10px;
    position: absolute;
    left: 28%;
}

.my-intro h6.second {
    color: #919191;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 14px;
    margin-top: -20px;
    line-height: 1.8;
    position: absolute;
    left: 49%;
}

.social-links {
    position: fixed;
    bottom: 10px;
    margin-top: 10px;
}

.social-links li {
    list-style: none;
    padding: 5px 0px;
    margin-left: -35px; 
}

.social-links li a i {
    font-size: 17px;
}

.social-links li a i:hover {
    color: #aaa;
}
